@import url(reset.css);
@media screen (min-width : 920px) and (max-width : 1400px) {
}
.first_page{
  background: rgb(86,255,98);
  background: radial-gradient(12.54% 20.02% at 85.9% 17.29%, #A5F691 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(17.13% 24.46% at 16.94% 28.52%, rgba(165, 246, 145, 0.8) 0%, rgba(165, 246, 145, 0.56) 15.63%, rgba(242, 254, 239, 0.764716) 66.15%, rgba(255, 255, 255, 0) 100%), radial-gradient(19.38% 26.83% at 56.53% 79.93%, rgba(165, 246, 145, 0.9) 0%, rgba(165, 246, 145, 0.63) 15.62%, rgba(242, 254, 239, 0.860305) 66.15%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  font-family: Moderat;
  height: 100%;
}
.menu{
  display: flex;
  align-items: stretch;
  height: 1.6rem;
  flex-direction:row-reverse;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top:2rem;
  padding-left:2rem;
  color: #333333;
}
.logo {
  width: 3.6rem;
}
.dropbtn {
  border-radius: 4rem;
  border: 2px solid #333333;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-family: Moderat;
  font-style: normal;
  font-weight: Bold;
  color: #333333;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
}
.dropbtn:hover, .dropbtn:focus, .project:hover {
    background-color:#A5F691;
    color: white;
    border: 2px solid #A5F691;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 1rem;
    border-radius: 5px;
}
.dropdown-content a {
    font-size: 1.2rem;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: grey;
}
.dropdown a:hover {background-color: #333;
  color: white;}
.show
  {display: block;}
.project{
  border-radius: 4rem;
  border: 2px solid #333333;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-family: Moderat;
  font-style: normal;
  font-weight: Bold;
  color: #333333;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
}
.project_link{
  text-decoration: none;
  color:#333;
}
.heading{
  margin: 1rem 2rem;
  display: flex;
  font-size: 3em;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  color: #333333;
}
.Hello{
  margin-top: 8rem;
  line-height: 1.2;
  font-weight: bold;
}
.me{
  padding-left: 13rem;
  width: 30rem;
  }
.name{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
}
.about_me{
  padding-top: 1.8rem;
  font-size: 2.4rem;
  line-height: 1.1;
}
.two_page{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  align-items: flex-start;
  justify-content: center;
}
.work{
  margin: 2rem  2rem 2rem  17rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  align-items: flex-start;
  justify-content: center;
  border: 5px solid #333;
  padding: 5rem;
  background-color: #333;
  border-radius: 20px;
}
.skill{
  margin: 2rem  2rem 2rem  17rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  align-items: flex-start;
  justify-content: center;
  border: 5px solid #333;
  padding: 5rem;
  background-color: #333;
  border-radius: 20px;
}
.philosophy{
  width: 62rem;
  border: 5px solid #333;
  padding: 5rem;
  margin: 2rem ;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #A5F691;
  border-radius: 20px;
}
.black {
   font-size:3rem;
   font-weight: bold;
   padding-bottom: 2rem;
   color: #333;
 }
.black_min{
   font-size:2rem;
   font-weight: 400;
   padding-bottom: 1.2rem;
   color: #333;
   line-height: 1.1;
 }
 .white{
   font-size:3rem;
   font-weight: bold;
   padding-bottom: 2rem;
   color: white;
 }
 .white_min{
    font-size:2rem;
    font-weight: normal;
    padding-bottom: 1.2rem;
    color: #E5E5E5;

  }

 .my_social{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
   padding: 2rem 0;
 }
 .social{
   padding-left: .5rem;
   width: 5rem;
 }
}
* {
  cursor: none;
  margin:0;
  padding:0;
}
.box {
  position:relative;
  z-index:0;
  color:#fff;
}
.box:before {
  content:"";
  position:absolute;
  z-index:999;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:
  radial-gradient(farthest-side ,#fff 95%,transparent 100%)
    calc(var(--x) - .75em) calc(var(--y) - .75em)/3rem 3rem  fixed no-repeat;
  mix-blend-mode:difference;
}
.red{
  background:
  radial-gradient(farthest-side ,Green 95%,transparent 100%)
    calc(var(--x) - .75em) calc(var(--y) - .75em)/ /*position*/
    3rem 3rem   /*size of circle*/
    fixed no-repeat;
}
.black{
  background:radial-gradient(farthest-side ,cyan 95%,transparent 100%)
    calc(var(--x) - .75em) calc(var(--y) - .75em)/3rem 3rem  fixed no-repeat;
}
.green{
  margin-left:66vw;
  position:absolute;
  background:radial-gradient(farthest-side ,blue 95%,transparent 100%)
    calc(var(--x) - .75em) calc(var(--y) - .75em)/1.5em 1.5em  fixed no-repeat;
  background-color:green;
}
